/**
 * The area that the board spans.
 */

.board {
    margin-top: 128px;
    width: 542px;
    margin-left: auto;
    margin-right: auto;
}

/**
 * Every stack defaults to no padding or margin.
 */

.stack {
    padding: 0px;
    margin: 0px;
}

/**
 * The default properties of every card.
 */

.card {
    background-image: url('../img/card-back.png');
    background-repeat: no-repeat;
    position: relative;
    display: block;
    width: 80px;
    height: 106px;
}

/**
 * The front area of a card.
 */

.card-front {
    width: 100%;
    height: 100%;
}

.weapon {
    background-image: url('../img/card-front-weapon.png');
}

.potion {
    background-image: url('../img/card-front-potion.png');
}

.monster {
    background-image: url('../img/card-front-monster.png');
}

.scrap {
    background-image: url('../img/card-front-scrap.png');
}

.treasure {
    background-image: url('../img/card-front-treasure.png');
}

/**
 * The area of a card that shows its value.
 * All cards have a numeric value; e.g. 12 or 4. Never longer than 2 digits.
 */

.card .value {
    color: white;
    padding-top: 2px;
    text-align: center;
    font-family: 'Georgia';
    font-weight: bold;
    font-size: 32px;
}

.health {
    position: relative;
    top: 200px;
}

.health-ui {
    background-image: url('../img/ui-health.png');
    background-repeat: no-repeat;
    position: relative;
    margin-right: 4px;
    float: left;
    width: 66px;
    height: 29px;
}

.health-ui .value {
    color: white;
    text-align: right;
    width: 100%;
    right: 8px;
    position: absolute;
    font-family: 'Georgia';
    font-weight: bold;
    font-size: 18px;
}

.health-bar-frame {
    background-image: url('../img/ui-health-bar_frame.png');
    background-repeat: no-repeat;
    position: relative;
    float: left;
    padding: 5px 6px 5px 6px;
    width: 132px;
    height: 29px;
}

.health-bar {
    background-image: url('../img/ui-health-bar.png');
    background-repeat: repeat-x;
    position: relative;
    float: left;
    width: 120px;
    height: 19px;
}

/**
 * All cards in the room stack are laid out from left to right.
 */

#room .card {
    margin-right: 8px;
    float: left;
}

/**
 * The stack that new cards are drawn from. 
 */
#map {
    float: right;
}

#map-bottom {
    float: left;
    opacity: 0.25;
    position: relative;
}

#map-top {
    float: left;
    position: absolute;
}

#discarded {
    float: clear;
}

#discarded .card {
    
}