.header {
    width: 542px;
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
}

.menu {
    float: left;
    list-style-type: none;
    margin-bottom: 60px;
    padding: 0px;
}

.menu-item {
    display: inline;
    margin-right: 6px;
}

/**
 * The area that the board spans.
 */

.board {
    clear: both;
    margin-top: 70px;
    width: 542px;
    margin-left: auto;
    margin-right: auto;
}

/**
 * Every stack defaults to no padding or margin.
 */

.stack {
    padding: 0px;
    margin: 0px;
}

/**
 * The default properties of every card.
 */

.card {
    background-image: url('../img/card-back.png');
    background-repeat: no-repeat;
    position: relative;
    display: block;
    width: 80px;
    height: 106px;
    cursor: default;
}

/**
 * The front area of a card.
 */

.card-front {
    width: 100%;
    height: 100%;
}

.weapon {
    background-image: url('../img/card-front-weapon.png');
}

.potion {
    background-image: url('../img/card-front-potion.png');
}

.monster {
    background-image: url('../img/card-front-monster.png');
}

.scrap {
    background-image: url('../img/card-front-scrap.png');
}

.treasure {
    background-image: url('../img/card-front-treasure.png');
}

/**
 * The area of a card that shows its value.
 * All cards have a numeric value; e.g. 12 or 4. Never longer than 2 digits.
 */

.card .value {
    color: white;
    padding-top: 2px;
    text-align: center;
    font-family: 'Georgia';
    font-weight: bold;
    font-size: 32px;
}

.scoreboard {
    float: right;
    cursor: default;
    position: relative;
}

.scoreboard-value {
    font-weight: bold;
    margin-right: 12px;
    font-size: 3.5em;
}

.health {
    cursor: default;
    position: relative;
    clear: both;
    left: 170px;
    top: 60px;
}

.health-ui {
    background-image: url('../img/ui-health.png');
    background-repeat: no-repeat;
    position: relative;
    margin-right: 4px;
    float: left;
    width: 66px;
    height: 29px;
}

.health-ui .value {
    color: white;
    text-align: right;
    width: 100%;
    right: 8px;
    top: 1px;
    position: absolute;
    font-family: 'Georgia';
    font-weight: bold;
    font-size: 18px;
}

.health-bar-frame {
    background-image: url('../img/ui-health-bar_frame.png');
    background-repeat: no-repeat;
    position: relative;
    float: left;
    padding: 5px 6px 5px 6px;
    width: 132px;
    height: 29px;
}

.health-bar {
    background-image: url('../img/ui-health-bar.png');
    background-repeat: repeat-x;
    position: relative;
    float: left;
    width: 120px;
    height: 19px;
}

.button {
    position: relative;
    background-image: url('../img/button.png');
    background-repeat: no-repeat;
    width: 66px;
    height: 53px;
    color: white;
    padding-top: 16px;
    text-align: center;
    font-family: 'Georgia';
    font-weight: bold;
    font-size: 12px;
    margin-top: 0px;
    cursor: pointer;
}

.button-pressed {
    background-image: url('../img/button-pressed.png');
    margin-top: 2px;
    height: 51px;
}

.disabled {
    opacity: 0.6;
    cursor: default;
}

/**
 * All cards in the room stack are laid out from left to right.
 */

#room {
    clear: both;
    float: left;
    /* to avoid glitchy repositioning of elements when skipping rooms */
    width: 440px;
    height: 106px; 
}

#room .card {
    margin-right: 8px;
    float: left;
}

/**
 * The stack that new cards are drawn from. 
 */

#map {
    float: right;
}

#map-bottom {
    float: left;
    opacity: 0.25;
    position: relative;
}

#map-top {
    float: left;
    position: absolute;
}

#discarded {
    margin-bottom: 40px;
    float: left;
    transform:rotate(7deg);
    -ms-transform:rotate(7deg); /* IE 9 */
    -moz-transform:rotate(7deg); /* Firefox */
    -webkit-transform:rotate(7deg); /* Safari and Chrome */
    -o-transform:rotate(7deg); /* Opera */
}

#discarded .card {
    position: absolute;
}

#action-stacks {
    clear: both;
    position: relative;
    top: 50px;
}

#equipment {
    float: left;
    margin-left: 10%;
    background-image: url('../img/stack-equipment.png');
}

#equipment .card {
    position: absolute;
}

#you {
    float: right;
    margin-right: 10%;
    background-image: url('../img/stack-you.png');
}

#you .card {
    position: absolute;
}

#forge {
    float: left;
    top: 40px;
    left: 5px;
    background-image: url('../img/stack-forge.png');
}

#forge .card {
    position: absolute;
}

#treasure {
    float: right;
    top: 40px;
    right: 5px;
    background-image: url('../img/stack-treasure.png');
}

#treasure .card {
    position: absolute;
}

#hint-skip {
    position: relative;
    margin-top: 16px;
    float: right;
}

#strike-action {
    float: left;
    padding-top: 12px;
    top: 22px;
    left: 22px;
}

#forge-action {
    clear: both;
    float: left;
    padding-top: 12px;
    top: 110px;
    left: 11px;
}

#treasure-action {
    float: right;
    padding-top: 12px;
    top: 110px;
    right: 11px;
}

/**
 * The `How to Play` section.
 */

.manual {
    visibility: hidden;
    margin-top: -10px;
    margin-left: 24px;
    width: 380px;
    height: 0;
    float: left;
}

.manual-header {
    margin-bottom: 40px;
}

.manual-header p {
    color: #000;
    font-size: 1.4em;
}

.manual-header h1 {
    font-weight: bold;
    font-size: 1.8em;
}

.manual-game {
    margin-bottom: 80px;
    font-size: 1.2em;
}

.manual-tips {
    font-size: 0.9em;
}

/**
 * The `Statistics` section.
 */

.stats {
    visibility: hidden;
}

#killer-label {
    margin-top: 12px;
    font-size: 1.0em;
    text-align: center;
}