{% load core_helpers %}

<!DOCTYPE html>
<html>

    {% include 'parts/boilerplate/head.html' %}

    <body>

        {% if state %}

            <div class="board">

                <ul class="stack" id="room">

                    {% for card in state.stacks.0.cards %}

                        <li class="card {{ card.details.kind|kind_name }}">

                            {% include 'parts/card.html' with card=card only %}

                        </li>

                    {% endfor %}

                </ul>

                <ul class="stack" id="map">
                    <li class="card" id="map-bottom"></li>
                    <li class="card" id="map-top"></li>
                </ul>

                <div class="health">
                    <div class="health-ui">
                        <div class="value">
                            {{ state.health }}
                        </div>
                    </div>
                    <div class="health-bar">
                    </div>
                </div>
            </div>

        {% endif %}

        <script type="text/javascript" src="{{ STATIC_URL }}js/game.js"></script>

    </body>
</html>