<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />

        <title>Cards Deep</title>

        <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    </head>
    <body>

        {% if state %}

            <div class="board">

                {{ state.health }}<br />

                <ul class="stack" id="room">

                    {% for card in state.stacks.0.cards %}

                        <li class="card">

                            {% include 'parts/card.html' with card=card only %}

                        </li>

                    {% endfor %}

                </ul>

                <div class="card" id="map" />
            </div>

        {% endif %}

    </body>
</html>