<!DOCTYPE html>

<html>

    {% include 'parts/boilerplate/head.html' %}

    <body>

        {% if state %}

            <div class="manual">
                <div class="manual-header">
                    <h1>How to Play, Cards Deep</h1>
                    <p>
                        A fast-paced solitaire.
                    </p>
                    <hr>
                </div>

                <div class="manual-game">
                    <p>
                        <b>1. Pick a card from the ones facing up.</b><br>
                        Preferably, a weapon.
                    </p>
                    <p>
                        <b>2. Pick a monster to fight it.</b><br>
                        Any will do.
                    </p>
                    <p>
                        <b>3. Continue picking monsters.</b><br>
                        But, you can only pick monsters that are less powerful than the previous.
                    </p>
                    <p>
                        <b>4. Strike to score points.</b><br>
                        More monsters, more points.
                    </p>
                </div>

                <div class="manual-tips">
                    <p>
                        <b>Tip:</b> Try to make as large stacks as possible. The larger the stack, the more points you score.
                    </p>
                    <p>
                        <b>Tip:</b> You can pick monsters even if you haven't equipped a weapon. You just can't stack them.
                    </p>
                    <p>
                        <b>Tip:</b> You can replace all the cards currently drawn by activating the map. <i>It takes 5 picks before you can do it again</i>.
                    </p>
                    <p>
                        <b>Tip:</b> When you have 2 or more scraps, you can forge them into a weapon. The weapon is as powerful as <i>the amount of scraps</i> used.
                    </p>
                    <p>
                        <b>Tip:</b> Activating your treasures will multiply the score of your next attack by <i>the amount of treasures</i> spent.
                    </p>
                    <p>
                        <b>Tip:</b> You can only store 10 treasures at a time, so don't be afraid to use them when you have a good stack going.
                    </p>
                </div>
            </div>

            <div class="header">
                <ul class="menu">
                    <li class="menu-item"><a href="#" id="help">How To Play</a></li>
                    <li class="menu-item"><a href="#" id="stats">Statistics</a></li>
                </ul>
            </div>

            <div class="board">
                <ul class="card stack" id="discarded">

                    {% include 'parts/stack.html' with stack=state.stacks.5 backside=1 only %}

                </ul>
                
                <div class="scoreboard">
                    <div class="scoreboard-value">{{ state.score }}</div>
                </div>

                <ul class="stack" id="room">

                    {% include 'parts/stack.html' with stack=state.stacks.0 only %}

                </ul>

                <ul class="stack" id="map">
                    <li class="card" id="map-bottom"></li>
                    <li class="card" id="map-top"></li>
                </ul>

                <div id="hint-skip" style="{% if not state.can_skip_on_next_move %}visibility: hidden;{% endif %}">
                    You can skip on the next turn
                </div>

                <div id="action-stacks">
                    <div id="secondary">
                        <ul class="card stack" id="forge">
                            
                            {% include 'parts/stack.html' with stack=state.stacks.4 only %}

                        </ul>

                        <ul class="card stack" id="treasure">
                            
                            {% include 'parts/stack.html' with stack=state.stacks.3 only %}

                        </ul>
                    </div>
                    
                    <div id="primary">
                        <ul class="card stack" id="equipment">
                            
                            {% include 'parts/stack.html' with stack=state.stacks.1 only %}

                        </ul>

                        <div class="button {% if state.stacks.1.cards|length == 0 %} disabled {% endif %}" id="strike-action">
                            STRIKE<br>{% if state.stacks.1.cards|length > 0 and state.stacks.2.cards|length > 0 %}{{ state.stacks.2.cards|length }}{% endif %}{% if state.score_multiplier > 1 %} * {{ state.score_multiplier }}{% endif %}
                        </div>

                        <ul class="card stack" id="you">
                            
                            {% include 'parts/stack.html' with stack=state.stacks.2 only %}

                        </ul>
                    </div>
                </div>

                <div class="button {% if state.stacks.4.cards|length == 0 %} disabled {% endif %}" id="forge-action">
                    FORGE<br>{% if state.stacks.4.cards|length > 0 %}{{ state.stacks.4.cards|length }}{% endif %}
                </div>

                <div class="button {% if state.stacks.3.cards|length == 0 %} disabled {% endif %}" id="treasure-action">
                    BUFF<br>{% if state.stacks.3.cards|length > 0 %}{{ state.stacks.3.cards|length }}{% endif %}
                </div>

                <div class="health">
                    <div class="health-ui">
                        <div class="value">
                            {{ state.health }}
                        </div>
                    </div>
                    <div class="health-bar-frame">
                        <div class="health-bar"></div>
                    </div>
                </div>
            </div>

            <script type="text/javascript">
            
                {% include 'game.js' with state=state %}

            </script>

        {% endif %}

    </body>
</html>