<!DOCTYPE html>

<html>

    {% include 'parts/boilerplate/head.html' %}

    <body>

        <div class="front">
            <div class="front-logo">
            </div>
            <div class="front-logo-subtitle">
                A fast-paced card game.
            </div>
            <div class="front-menu">

                {% if player and request.user.is_authenticated %}

                    <a class="front-menu-item" id="play" href="#">Play</a>

                    {% if player.active_session %}

                        <a class="front-menu-item" id="resume" href="{% url resume player.active_session.id %}">Resume</a>

                    {% endif %}

                    <br />

                    <a class="front-menu-item" href="{% url preferences %}">Settings</a>
                    <a class="front-menu-item" href="{% url profile player.id %}">My Profile</a>
                    <a class="front-menu-item" href="{% url logout %}">Logout</a>

                {% else %}

                    <a class="front-menu-item" id="register" href="{% url register %}">Sign up</a>

                    <a class="front-menu-item" href="{% url login %}">Login</a>
                    <a class="front-menu-item disabled" href="#" id="login-as-guest">Login as Guest</a>

                {% endif %}

            </div>
        </div>

    </body>

    <script type="text/javascript">
        $('#login-as-guest').click(function(e) {
            $.post("{% url login_as_guest %}", 
                { 
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                }
            );
        });

    {% if player and request.user.is_authenticated %}

        $('#play').click(function(e) {
            var menuItems = $('.front-menu-item');

            menuItems.fadeTo('fast', 0.3);
            menuItems.addClass('disabled');

            $.post("{% url begin %}",
                {
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                function(response) {
                    window.location.href = 
                        window.location.href.replace('#', '') + 
                        ('play/' + response);
                }
            );
        });

        function bouncePlay() {
            $('#play')
                .animate({ 
                    margin: "10px",
                    fontSize: "20pt" 
                }, 150)
                .animate({ 
                    margin: "0 -10px 0px -10px",
                    fontSize: "24pt"
                }, 125);
        }

        bouncePlay();

        $("#play").mouseenter(function(e) {
            bouncePlay();
        });

    {% else %}

        function bounceSignUp() {
            $('#register')
                .animate({ 
                    margin: "10px",
                    fontSize: "16pt" 
                }, 150)
                .animate({ 
                    margin: "0 -18px 46px -18px",
                    fontSize: "22pt"
                }, 125);
        }

        bounceSignUp();

        $("#register").mouseenter(function(e) {
            bounceSignUp();
        });

    {% endif %}

    </script>
</html>